  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">LOYOJESWIN</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto " href="#blog">Blog</a></li>
          <li class="dropdown"><a href="#"><span>my self</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">my education</a></li>
              <li><a href="#">my skills</a></li>
              <li><a href="#">my experience</a></li>
              <li class="dropdown"><a href="#"><span>my family</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">my father</a></li>
                  <li><a href="#">my mother</a></li>
                  <li><a href="#">my brother</a></li>
                  <li><a href="#">my sister</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto " href="#contact">login/reg</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->