    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Services
                </h3>
                <p class="subtitle-a">
                  I'm providing below services in 2020
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="service-box">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                </div>
                <div class="service-content">
                  <h2 class="s-title">Web Design</h2>
                  <p class="s-description text-center">
                    I'm a web page Designer in a worksbot company, I'm worked in lot of projects in past 1year and i give my best in past six months...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-box">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
                </div>
                <div class="service-content">
                  <h2 class="s-title">Web Development</h2>
                  <p class="s-description text-center">
                    I'm a web page developer in a worksbot company, I'm worked in lot of projects in past 1year and i give my best in past six months...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-box">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
                </div>
                <div class="service-content">
                  <h2 class="s-title">Photography</h2>
                  <p class="s-description text-center">
                    I'm very interested in Photography, I love to take a picture of natural scenaries
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-box">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
                </div>
                <div class="service-content">
                  <h2 class="s-title">Responsive Design</h2>
                  <p class="s-description text-center">
                    I'm worked in two or three Responsive web pages. The user of the web pages are use in mobile phones,tablets and laptops so the responsive design is more useful.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-box">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
                </div>
                <div class="service-content">
                  <h2 class="s-title">Graphic Design</h2>
                  <p class="s-description text-center">
                    I'am always used to do graphic designs in photoshop and coreldraw softwares.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-box">
                <div class="service-ico">
                  <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
                </div>
                <div class="service-content">
                  <h2 class="s-title">Marketing Services</h2>
                  <p class="s-description text-center">
                    Since past 3years I'm providing marketing services of stack market.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Services Section -->