    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Blog
                </h3>
                <p class="subtitle-a">
                  my routine
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="blog-single.html"><img src="assets/img/post-1.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  <div class="card-category-box">
                    <div class="card-category">
                      <h6 class="category">WANDERLUST</h6>
                    </div>
                  </div>
                  <h3 class="card-title"><a href="blog-single.html">The best way to relax myself</a></h3>
                  <p class="card-description">
                    once in a week i used to travel.
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="#">
                      <img src="assets/img/testimonial-2.jpeg" alt="" class="avatar rounded-circle">
                      <span class="author">loyojeswin</span>
                    </a>
                  </div>
                  <div class="post-date">
                    <span class="bi bi-clock"></span> 1 day
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="blog-single.html"><img src="assets/img/post-2.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  <div class="card-category-box">
                    <div class="card-category">
                      <h6 class="category">foodie</h6>
                    </div>
                  </div>
                  <h3 class="card-title"><a href="blog-single.html">food for life,life for food</a></h3>
                  <p class="card-description">
                    I love to taste different vertes of foodstuff.
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="#">
                      <img src="assets/img/testimonial-2.jpeg" alt="" class="avatar rounded-circle">
                      <span class="author">loyojeswin</span>
                    </a>
                  </div>
                  <div class="post-date">
                    <span class="bi bi-clock"></span> 30 min
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="blog-single.html"><img src="assets/img/post-3.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  <div class="card-category-box">
                    <div class="card-category">
                      <h6 class="category">SKETCHING</h6>
                    </div>
                  </div>
                  <h3 class="card-title"><a href="blog-single.html">It makes me feel like ease</a></h3>
                  <p class="card-description">
                    Drawing potraits to gift for my loved ones.
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="#">
                      <img src="assets/img/testimonial-2.jpeg" alt="" class="avatar rounded-circle">
                      <span class="author">Morgan Freeman</span>
                    </a>
                  </div>
                  <div class="post-date">
                    <span class="bi bi-clock"></span> 2 days
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Blog Section -->