    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="assets/img/abi.jpg" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">ABINAYA</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        abinaya is my team front_end developer
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="assets/img/agnel.jpg" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">AGNEL</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        agnel is my tea back-end developer
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->


                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="assets/img/aji.jpg" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">AJI</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        aji is my team data scientist
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>

            <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
          
        </div> -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->